# Python
*.class
*.pyc

# Mac OSX
.DS_Store

# Emacs temp files
*~

# Eclipse 
.project
.pydevproject

# Sphinx output
doc/_build

# setuptools files
/MANIFEST
/dist
/python/PyNDN.egg-info
/build

# integration_test temporary files
tests/integration_tests/policy_config/test-public-info.db
